@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div id="categories" class="categories d-flex justify-content-between mt-4" style="overflow-x: auto">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
           
            <select name="sortingoptions" id="sortingoptions" class="ms-auto form-select" style="border: 2px solid #FF6347;">
                <option value="lastadded">Last added</option>
                <option value="thebiggest">The biggest</option>
                <option value="themostpopular">The most popular</option>
            </select>


            <div class="home-content-table">
                 <table id="collectionstable" style="max-width: 1000px" >
                <thead>
                </thead>
            </table>
                </div>
           
        </div>
    </div>
</div>

