@using Microsoft.AspNetCore.Identity
@using Web_app_personal_collections.ViewModels;
@inject SignInManager<IdentityUser> SignInManager
@model List<CollectionInfoModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <button type="button" id="btn-add-collection" class="mb-3 mt-5 btn-add-collection btn">Add new collection</button>
}

    <table id="mycollectionstable" class="mt-5 cell-border">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date added</th>
                <th>Number of Likes</th>
                <th></th>
            </tr>
        </thead>
    </table>

<!-- Modal window Add new Collection -->
<div class="modal fade" id="AddCollectionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new collection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="collectionId" name="collectionId" type="hidden" value="" />
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="text-muted row row-header">
                                <!--collection stuff-->
                                <span>Information about collection</span>
                            </div>

                            <div class="row mt-3">
                                <div class="col-2 me-4">
                                    <div class="mb-0 pb-3"><span class="align-middle">Category</span></div>
                                    <div class="mb-0 pb-3"><span class="align-middle">Name</span></div>
                                    <div class="mb-0 pb-3"><span class="align-middle">Description</span></div>
                                    <div class="mb-0 pb-3"><span class="align-middle">Image</span></div>
                                    <div class="mb-0 pb-3"><span class="align-middle">Tags</span></div>
                                </div>
                                <div class="col-6">
                                    <div class="pb-3">
                                        <select id="categories" class="input-infoabout-col btn-sm dropdown-toggle" aria-label="Default select example" asp-items="@ViewBag.categories" style="width: 130px"></select>
                                    </div>
                                    <div class="pb-3">
                                        <input class="input-infoabout-col"  type="text" id="collectionName">
                                    </div>
                                    <div class="pb-3">
                                        <input class="input-infoabout-col" type="text" id="collectiondescription">
                                    </div>
                                    <div class="pb-3">
                                        <input class="input-infoabout-col" type="text" id="CollectionImage">
                                    </div>
                                    <div class="pb-3">
                                      <select class="select2Tags" multiple="multiple">
                                      </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="mb-3 text-muted row row-header">
                                <!--items stuff-->
                                <span>Information about items</span>
                            </div>
                                <div class="row d-grid justify-content-end">
                                    <div>
                                    <button type="button" id="btnAddCustomField" class="ms-5 btn-add-collection btn">Add custom fields</button>
                                    </div>
                                    
                                </div>
                            <div class="row">
                                <table id="items-table" class="mt-5 cell-border">
                                </table>
                            </div>

                            <div class="row">
                                <div class="d-flex">
                                    <div>
                                        <button type="button" id="btnAddNewItem" class="me-2 btn-add-collection btn">Add new item</button>
                                    </div>
                                </div>
                            </div>                

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="saveNewCollection" class="btn btn-primary">Save collection</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal window Add new Item -->
<div class="modal fade" id="AddItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="itemId" name="itemId" type="hidden" value="" />
                <div class="container">
                    <div class="row">
                        <div class="col-4 labels">
                            <div class="pb-3" style="display:flex; order:1"><label id="mylabel" for="image">Image</label></div>
                            <div class="pb-3" style="display:flex; order:2"><label id="mylabel" for="name">Name</label></div>
                            
                            <div class="pb-3"><label id="mylabel" for="text1">text1</label></div>
                            <div class="pb-3"><label id="mylabel" for="text2">text2</label></div>
                            <div class="pb-3"><label id="mylabel" for="text3">text3</label></div>
                            <div class="pb-3"><label id="mylabel" for="number1">number1</label></div>
                            <div class="pb-3"><label id="mylabel" for="number2">number2</label></div>
                            <div class="pb-3"><label id="mylabel" for="number3">number3</label></div>
                            <div class="pb-3"><label id="mylabel" for="bool1">bool1</label></div>
                            <div class="pb-3"><label id="mylabel" for="bool2">bool2</label></div>
                            <div class="pb-3"><label id="mylabel" for="bool3">bool3</label></div>
                            <div class="pb-3"><label id="mylabel" for="date1">date1</label></div>
                            <div class="pb-3"><label id="mylabel" for="date2">date2</label></div>
                            <div class="pb-3"><label id="mylabel" for="date3">date3</label></div>


                        </div>
                        <div class="col-8 inputs">
                            <div class="pb-3" style="display:flex; order:1"><input type="text" id="image" name="image"></div>
                            <div class="pb-3" style="display:flex; order:2"><input type="text" id="name" name="name"></div>
                            
                            <div class="pb-3"><input type="text" id="text1" name="text"></div>
                            <div class="pb-3"><input type="text" id="text2" name="text"></div>
                            <div class="pb-3"><input type="text" id="text3" name="text"></div>
                            <div class="pb-3"><input type="number" id="number1" name="number"></div>
                            <div class="pb-3"><input type="number" id="number2" name="number"></div>
                            <div class="pb-3"><input type="number" id="number3" name="number"></div>
                            <div class="pb-3"><input type="checkbox" id="bool1" name="bool"></div>
                            <div class="pb-3"><input type="checkbox" id="bool2" name="bool"></div>
                            <div class="pb-3"><input type="checkbox" id="bool3" name="bool"></div>
                            <div class="pb-3"><input type="date" id="date1" name="date"></div>
                            <div class="pb-3"><input type="date" id="date2" name="date"></div>
                            <div class="pb-3"><input type="date" id="date3" name="date"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="saveChangesNewItem" class="btn btn-primary">Add item</button>
                <button type="button" id="saveExistingItemAfterChanging" class="btn btn-primary">Save item</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal window Add Custom fields -->
<div class="modal fade" id="AddCustomFieldsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add additional field</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="addtitionalFieldsData" class="container">
                    <div class="row">
                        <div>
                            <button type="button" id="btnAddNewField" class="mb-2 btn-add-collection nav-link btn btn-link text-dark">Add field</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="saveFields" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal" id="myModalDelete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal footer -->
            <div class="modal-body d-block me-0 ms-0 m-3">
                <input id="useridfordeletion" name="useridfordeletion" type="hidden" value="" />
                <div class="d-flex justify-content-center mb-3">Are you sure?</div>
                <div class="d-flex justify-content-center">
                    <div>
                        <button type="button" id="confirmdeletion" class="btn btn-secondary me-2" data-bs-dismiss="modal" style="width: 90px">Confirm</button>
                        <button type="button" class="btn btn-danger ms-2" data-bs-dismiss="modal" style="width: 90px">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/managecollection.js"></script>
